*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
}
ul, ol, li{
    list-style: none;
}

.exercicios{
    width: 100vw;
    display: grid;
    grid-template-areas: 
    "exercicio01 exercicio02 exercicio03 exercicio04"
    "exercicio05 exercicio06 exercicio07 exercicio08"
    "exercicio9 exercicio10 exercicio154"; 
    justify-content: center;
    padding-block: 16px;
    gap: 16px;
    padding-inline: 32px;
    font-size: 40px;
}

.exercicio01a10{
    display: grid;
    justify-content: center;
    padding-block: 16px;
    gap: 16px;
    font-size: 40px;
}